.app {
  text-align: center;
  margin-top: 40px;
  color: #f5f3f4;
  margin-right: 20px; /* Ajusta este valor según tu preferencia para dejar un espacio entre el contenido y el borde derecho */
}

.d-flex {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos a la derecha */
}

.input {
  border-radius: 10px;
  outline: 2px solid #1b53b5;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  width: 300px; /* Ajusta el ancho del buscador según tu preferencia */
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}
/* DailyForecast.css */

.daily-forecast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px; /* Agregar un margen a la derecha para que no estén pegados al borde */
}

.weather-values {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los valores a la derecha */
}

.weather-values p {
  font-size: 18px; /* Aumentar el tamaño de la fuente para los valores */
}

.weather-values p.bold {
  font-weight: bold;
}

.temp {
  text-align: left; /* Alinea el contenido a la izquierda */
}

.temp h1 {
  font-size: 2rem; /* Ajusta este valor según tu preferencia para cambiar el tamaño del icono */
  margin: 0; /* Elimina los márgenes por defecto del h1 para evitar espacios innecesarios */
}
.icon {
  text-align: left; /* Alinea el contenido a la izquierda */
  font-size: 2rem; /* Ajusta este valor según tu preferencia para cambiar el tamaño del icono */
  margin: 0;
}
.location{
  font-size: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.description{
  font-size: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.feels{
  text-align: right;
  font-size: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.humidity{
  text-align: right;
  font-size: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.wind{
  text-align: right;
  font-size: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%; /* La card ocupará la mitad del ancho de la pantalla */
  height: 100vh; /* La card ocupará toda la altura de la pantalla */
  background-color: #231942; /* Reemplazar 'ruta/de/la/imagen.jpg' con la ruta de la imagen que desees usar como fondo */
  border-radius: 20px 0 0 20px ; /* Agregar bordes redondeados a la card */
  color: white; /* Color del texto dentro de la card */
  font-size: 18px; /* Tamaño de la fuente del texto dentro de la card */
}

.icon-card p {
  margin: 0; /* Eliminar los márgenes del texto dentro de la card */
}

.icon-card h1 {
  margin: 0; /* Eliminar los márgenes del texto dentro de la card */
  font-size: 30px; /* Tamaño de la fuente del texto dentro de la card */
  font-weight: bold; /* Texto en negrita */
}

/* LocationSearch.css */

.card-2 {
  background-color: #5e548e; /* Color gris */
  border-radius: 0 20px 20px 0;
  width: 45%; /* Ocupa la mitad derecha de la pantalla */
  float: right; /* Alinea el card a la derecha */
  box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho total */
  padding: 30px; /* Espacio interior del card */
  height: 100vh;
}
/* LocationSearch.css */

.card-container {
  display: flex; /* Utiliza el modelo flexbox */
  justify-content: space-between; /* Espacio entre los elementos */
}

.card-2 p {
  font-size: 20px;
}
.card-2 .search {
  display: flex;
  justify-content: flex-end; 
}